body{
    background-color: black;
    color: darkmagenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    text-align: center;
    padding: 2em 4em;
    font-weight: 700;

}