body{
    background-color: #222;
    text-align: center;
    padding: 20px;
}

button{
    width: 120px;
    height: 50px;
    font-size: 140%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #222;
    color: goldenrod;
    border: solid goldenrod 6px;
    border-radius: 10px 10px 10px 10px;
}
button:hover{
    background-color: goldenrod;
    color: #222;
}

#res{
    margin: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    color: goldenrod;
}