body{
    background-color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

input{
    background-color: black;
    color: darkred;
    font-size: 200%;
    font-weight: 900;
    width: 5em;
    border: solid darkred 3px;
    border-radius: 10px 10px;
    padding: 5px;
}

#output{
    height: 100em;
    border: solid darkred 3px;
    width: 100%;
    margin: 1em auto;
    font-size: 100%;
    text-align: left;
    background-color: darkred;
    padding: 5px 10px;
    font-weight: 900;
}
button{
    font-size: 200%;
    margin: 10px;
    font-weight: 900;
    background-color: black;
    border: solid darkred 5px;
    border-radius: 10px 10px;
    color: darkred;
}
button:hover{
    background-color: darkred;
    color: black;
}